@use "@angular/material" as mat;
@use "../../../../styles/theme/m3-theme.scss" as m3;
@include mat.core();


.events-master-form{
    position: sticky;
    bottom: 0;
    background-color: var(--mat-app-background-color);
}

.event-card{
    margin: 1rem 0;
}