<div class="app-shell mat-app-background">
  <header>
   <app-header>
     <div toolbar-logo>
      <h2>🐲 Rpg Adventure Maker</h2>
     </div>
     <div toolbar-actions>
      @if(authService.isLoggedIn){
        <button mat-icon-button (click)="handleLogout()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      }
     </div>
    </app-header>


  </header>
  <main>
    <app-loading>
      <ng-container loading>
        <div class="spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>
      <ng-container loaded>
        <router-outlet/>
      </ng-container>
    </app-loading>
  </main>
  <footer>
    <p>© RPG AdvetureMaker Application</p>
  </footer>
</div>

