
.app-shell{
    $padding: 1rem;
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr minmax(50px, auto);
    min-height: 100vh;
    main{
        padding: $padding;
    }
    
    footer{
        padding: $padding;
    }
}

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}