/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./appm3-theme.scss" as m3;
@include mat.core();


$theme: m3.$light-theme;

@include mat.color-variants-backwards-compatibility($theme);
@include mat.typography-hierarchy($theme);  // typography styles c


@mixin theme($theme) {
  app-navbar {
    color: mat.get-theme-color($theme, primary);

    mat-toolbar {
      background: mat.get-theme-color($theme, primary-container);
    }
  }
}

:root {
  @include mat.all-component-themes($theme);
  // background customization
  font-family: "Roboto", sans-serif;

  @include theme($theme);
}


// @include mat.typography-hierarchy($theme);

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
